%h2="#{Attachment.model_name.human(count: 5)} (#{@attachments.size})"

%p= link_to t(:'attachments.new'), new_attachment_path

%table
  %thead
    %tr
      %th= t('link.actions')
      %th= Attachment.human_attribute_name(:filename)
      %th= Attachment.human_attribute_name(:created_at)
  %tbody
    - @attachments.each do |attachment|
      %tr
        %td
          = link_to(t('link.show'), attachment)
          |
          - if attachment.mapping
            = link_to(t('mappings.show'), attachment.mapping)
          - else
            = link_to(t('mappings.new'), new_attachment_mapping_path(attachment))
        %td= attachment.filename
        %td= attachment.created_at
