.header
  .head2
    .title
      = Attachment.model_name.human(count: 5)
      %small= @attachments.size
#side
  %a.btn.btn-danger{href: new_attachment_path, title: t(:'attachments.new.page_title')} 
    = t(:'link.new_import')

#content
  %table.table
    %thead
      %tr
        %th.check-column
          %input{id: "id", name: "id", type: "checkbox", value: 1}
        %th= Attachment.model_name.human(count: 1)
        %th= Mapping.model_name.human(count: 1)
        %th= Import.model_name.human(count: 1)
    %tbody
      - @attachments.each do |attachment|
        %tr
          %td.check-column
            %input{:type=>"checkbox", :name=>"ids[]", :value=>"#{attachment.id}"}
          %td
            = link_to(attachment.filename, attachment)
            .created= l attachment.created_at
          %td
            - if attachment.mapping
              = link_to(attachment.mapping.title, attachment.mapping)
              .created= l attachment.mapping.created_at
            - else
              = link_to(t('mappings.new'), new_attachment_mapping_path(attachment))
          %td
            - if attachment.imports.any?
              - attachment.imports.each do |import|
                = link_to(import.title, import)
                .created= l import.created_at
            - elsif attachment.mapping
              = link_to(t('imports.new'), new_attachment_import_path(attachment))
          %td
            = link_to(image_tag('destroy.png'), attachment, data: {confirm: t('attachments.delete_confirm'), method: :delete})
