.head2
  .title
    = t('link.step', count: 1, total: 3)
    = t('.page_title')

- if @attachment.errors.any?
  .alert-message.block-message.error
    %ul
      - @attachment.errors.full_messages.each do |i|
        %li=i

#side
  = form_for @attachment, method: 'patch' do |f|
    .side-list
      .side-list-item
        #button-locale
          = t('attachments.new.upload_button')
        - if @attachment.new_record?
          .clearfix
            .input
              #file-upload
                %noscript
                  %p=t('.enable_javascript')
      .side-list-item
        .clearfix
          = label_tag :col_sep, "#{Attachment.human_attribute_name(:col_sep)} <span class='required'> *</span>".html_safe
          .input
            = f.text_field :col_sep, class: 'minimi'
            %span.help-inline= t('.can_use_tab_character_html')
      .side-list-item
        .clearfix
          = label_tag :quote_char, "#{Attachment.human_attribute_name(:quote_charp)} <span class='required'> *</span>".html_safe
          .input
            = f.text_field :quote_char, class: 'minimi'
      .side-list-item
        .clearfix
          = label_tag :encoding, "#{Attachment.human_attribute_name(:encoding)} <span class='required'> *</span>".html_safe
          .input
            = f.select :encoding, Encoding.name_list.sort_by{|word| word.downcase}, selected: 'UTF-8', class: 'input-mini'
            %span.info=t('.only_for_advanced_users')
      .side-list-item
        .actions
          = f.submit t('attachments.proceed_to_mapping'), class: "btn btn-primary btn-large"
          = link_to t('link.back'), attachments_path, class: "btn secondary"
  
#content
  #csv-table.clearfix{style: ("display: none" if @attachment.new_record?)}
    %h2=t('.preview')
    %p=t('.preview_info')
    = link_to(image_tag("refresh.png", size: "16x16") + "Reload", "#", id: "csv-refresh")
