- content_for :head do
  = javascript_include_tag 'import_form'

= form_for @import, :html => { :multipart => true } do |f|
  = f.hidden_field :attachment_id
  -#
    .clearfix
      = label_tag :name
      .input
        = f.text_field :name
  .clearfix
    = label_tag :col_sep, Import.human_attribute_name(:col_sep)
    .input
      = f.text_field :col_sep, :class=>'minimi'
  .clearfix
    = label_tag :quote_char, Import.human_attribute_name(:quote_char)
    .input
      = f.text_field :quote_char, :class=>'minimi'
  .clearfix
    = label_tag :kind, Import.human_attribute_name(:kind)
    .input
      = f.select :kind, [ ['Clients', 'client']] # , ['Payments', 'payment'] , ['Products', 'product']  
  .clearfix
    %label=t(:'imports.upload')
    .input
      #file-upload
        %noscript
          %p Please enable JavaScript to use file uploader

  .clearfix
    %label=t(:'imports.csv_fields')
    #csv_fields.input
  .clearfix
    %p=t(:'imports.dnd_info')
  .clearfix
    %label=t(:'imports.salesking_fields')
    #schema_fields.input

  .actions
    = f.submit :class => "btn primary large"
    = link_to t(:'links.back_to_list'), imports_url, :class=>"btn secondary"