.header
  .head2
    .title
      = Import.model_name.human(count: 5)
      %small= @imports.size

#side
  %a.btn.btn-danger{href: new_attachment_path, title: t(:'link.new_import')} 
    = t(:'link.new_import')

#content
  %table.table
    %thead
      %tr
        %th.check-column
          %input{id: "id", name: "id", type: "checkbox", value: 1}
        %th= Import.model_name.human(count: 1)
        %th= Import.human_attribute_name(:created_at)
        %th= t('link.actions')
    %tbody
      - @imports.each do |import|
        %tr
          %td.check-column
            %input{:type=>"checkbox", :name=>"ids[]", :value=>"#{import.id}"}
          %td= import.title
          %td= import.created_at
          %td= link_to(t('link.show'), import)
