.header
  .head2
    .title
      = t('link.step', count: 3, total: 3)
      = t('imports.new')
  .head3
    .info
      %p= t('imports.total', count: @import.attachment.rows.size - 1)

#side
  .side-list
    = form_for [@attachment, @import] do |f|
      .actions 
        .side-list-item
          = f.submit t('imports.create'), class: "btn btn-danger"
        .side-list-item
          = link_to t('link.back'), new_attachment_path, class: "btn secondary"

#content
  %h2=t('attachments.new.preview')
  %p=t('attachments.new.preview_info')
  %table.table
    - @import.preview.each_with_index do |row, index|
      - if index == 0
        %thead
          - row.each do |item|
            %th= item
      - else
        %tr
        - row.each do |item|
          %td= item