%h2
  = t('link.step', count: 3, total: 3)
  = t('imports.new')
%table
  - @import.preview.each do |row|
    %tr
      - row.each do |item|
        %td= item
%p= t('imports.total', count: @import.attachment.rows.size - 1)

= form_for [@attachment, @import] do |f|
  .actions
    = f.submit t('imports.create'), class: "btn primary large"
    = link_to t('link.back_to_list'), attachments_path, class: "btn secondary"