%h2= Import.model_name.human(count: 1)
%h3= @import.title
- if @import.data_rows.failed.present?
  %table
    %thead
      %tr
        %th= DataRow.human_attribute_name(:source)
        %th= DataRow.human_attribute_name(:log)
    %tbody
      - @import.data_rows.failed.each do |row|
        %tr
          %td= row.source
          %td= row.log
.actions
  = link_to t('link.back_to_list'), attachments_path, class: "btn secondary"