%h2
  = Mapping.model_name.human(count: 5)
  %small= @mappings.size

%table
  %thead
    %tr
      %th= Mapping.model_name.human(count: 1)
      %th= Mapping.human_attribute_name(:created_at)
      %th= t('link.actions')
  %tbody
    - @mappings.each do |mapping|
      %tr
        %td= mapping.title
        %td= mapping.created_at
        %td= link_to(t('link.show'), mapping)
