.header
  .head2
    .title
      = t('link.step', step: 2, total: 3)
      = t('mappings.new')
  .head3
    .info
      = t('mappings.info')

        
#content.form
  .row
    .col-md-6.fit-to-top
      %span.big-letters= t('mappings.reuse')
  .row.mapping-border
    .col-md-10.existing-mapping
      .clearfix
        = form_for @attachment do |f|
          %h4= t('mappings.select_reuse')
          = f.select 'mapping_id', options_for_select(mapping_options), :include_blank => true
          = f.submit t('mappings.form.reuse_this_mapping_button'), class: 'btn btn-primary btn-large', id: 'reuse', style: 'display:none'
  #new_mapping_body
    = form_for [@attachment, @mapping] do |f|
      .row
        .col-md-6.fit-to-top
          %span.big-letters= t('mappings.new_mapping')
      
      .clearfix
        %label= t('mappings.source_fields')
        .input
          %ul#source-fields
            - @attachment.rows(1).first.each_with_index do |item, index|
              %li.field{'data-name' => item, 'data-source' => index}= item
      .clearfix
        %p= t('mappings.dnd_info')
      .clearfix
        %label= t('mappings.target_fields')
        .input
          %ul#target-fields
            - Sk.contact_fields.each do |field|
              - field.each do |name, params|
                - attrs = Hash[params.collect { |k, v| ["data-#{k}", v] }]
                %li.field
                  .target{attrs.merge('data-target' => name)}= name
      .clearfix
        %hr.form_bottom
          = f.submit t('mappings.form.proceed_to_import'), class: 'btn btn-primary btn-large'

#side
  .actions
    = link_to t('link.back'), new_attachment_path, class: 'btn secondary'
