!!! Strict
%html{ 'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang' => I18n.locale, 'lang' =>  I18n.locale }
  %head
    %title= 'SalesKing CSV Importer'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
  %body
    %header#header.clearfix
      .head1
        %nav.navbar.clearfix(role="navigation")
          %ul.nav.navbar-nav
            %li= link_to t('.attachments'), attachments_path, class: ('current' if request.fullpath =~ /attachments/)
            %li= link_to t('.mappings'), mappings_path, class: ('current' if request.fullpath =~ /mappings/)
            %li= link_to t('.imports'), imports_path, class: ('current' if request.fullpath =~ /imports/)
      
    = yield
