!!! Strict
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, "lang" =>  I18n.locale }
  %head
    %title= 'SalesKing CSV Importer'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .container
      = yield
    %footer
      .container
        &copy; 2011 Georg Leciejewski - SalesKing GmbH  |  We love OpenSource:
        %a(href='https://github.com/salesking/CSV-Import') Fork & Fix
        or report
        %a(href='https://github.com/salesking/CSV-Import/issues') Bugs
        on github